// color
:root {
  --c-white: #ffffff;
  --c-empty: transparent;
  --c-black: #000000;

  --c-border: #e4e7ed;

  --c-primary: #409EFF;
  --c-success: #67C23A;
  --c-warning: #E6A23C;
  --c-danger: #F56C6C;
  --c-info: #909399;

  --c-bg-aside: var(--c-white);
  --c-bg-menu-active: #e9ecf7;

  --c-text-main: #303133;
  --c-text-secondary: #606266;
  --c-text-regular: #909399;
  --c-text-placeholder: #A8ABB2;
  --c-disabled: #C0C4CC;

  --c-bg-soft: #f6f6fb;
  --c-bg-mute: #e9e9f6;
}

// size h -> height, w -> width
:root {
  --h-header: 56px;
  --h-logo: var(--h-header);
  --h-footer: 30px;

  --w-aside: 220px;
  --w-aside-collapsed: 64px;
  --w-aside-collapsed-2: 69px;

  --radius: 4px;
  --radius-2: 8px;
}

// border
:root {
  --style-border: 1px solid var(--c-border);
}

@for $i from 0 through 30 {
  .p#{$i} { padding: 1px * $i; }
  .pt#{$i} { padding-top: 1px * $i; }
  .pr#{$i} { padding-right: 1px * $i; }
  .pb#{$i} { padding-bottom: 1px * $i; }
  .pl#{$i} { padding-left: 1px * $i; }

  .m#{$i} { margin: 1px * $i; }
  .mt#{$i} { margin-top: 1px * $i; }
  .mr#{$i} { margin-right: 1px * $i; }
  .mb#{$i} { margin-bottom: 1px * $i; }
  .ml#{$i} { margin-left: 1px * $i; }

  .lh#{$i} { line-height: 1px * $i; }
}

@for $i from 10 through 30 {
  .text#{$i} {
    font-size: $i * 1px ;
  }
}