.app-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .el-container {
    height: 100%;

    .el-header {
      height: var(--height-header);
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .el-main {
      padding: 0 20px;
    }

    .el-footer {
      height: var(--height-footer);
      line-height: var(--height-footer);
      font-size: 10px;
      color: var(--vt-c-text-light-2);
      text-align: center;
      padding: 0 20px;
    }
  }
}

.app-wrapper.app-vertical {
  .el-aside {
    width: var(--width-aside);
    background-color: var(--color-background-soft);
  }
}
