.app-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .el-container {
    height: 100%;

    :deep(.el-header) {
      padding: 0;
      height: auto;

      .header-wrapper {
        padding: 0 15px;
        height: var(--height-header);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // 此属性具有兼容性问题，请注意浏览器版本是否支持该属性，必要时请使用margin代替
        gap: 20px;
        border-bottom: 1px solid var(--color-border);
      }

      .tags-view-wrapper {
        // padding: 0 20px;
        border-bottom: 1px solid var(--color-border);
        height: var(--height-tags-view);
      }
    }

    .el-main {
      padding: 10px 15px;
      box-sizing: border-box;
      overflow-x: hidden;
    }

    .el-footer {
      height: var(--height-footer);
      line-height: var(--height-footer);
      font-size: 10px;
      color: var(--vt-c-text-light-2);
      text-align: center;
      padding: 0 20px;
    }
  }
}

.app-wrapper.app-vertical {
  .el-aside {
    width: var(--width-aside);
    background-color: var(--color-background-soft);
    position: relative;
    transition: width .28s;

    &.aside-collapsed {
      width: var(--width-aside-collapsed);
    }

    &.aside-collapsed.show-collapse-bar {
      width: var(--width-aside-collapsed-has-bar);
    }

    &:not(.show-collapse-bar) {
      box-shadow: 2px 0 10px rgba($color: #000000, $alpha: .15);
    }
  }
}
