.app-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .el-container {
    height: 100%;

    :deep(.el-header) {
      padding: 0;
      height: auto;

      .header-wrapper {
        padding: 0 15px;
        height: var(--h-header);
        display: flex;
        align-items: center;
        justify-content: space-between;
        // 此属性具有兼容性问题，请注意浏览器版本是否支持该属性，必要时请使用margin代替
        border-bottom: var(--style-border);
      }

      .tags-view-wrapper {
        // padding: 0 20px;
        border-bottom: var(--style-border);
        height: var(--height-tags-view);
      }
    }

    .el-main {
      padding: 15px;
      box-sizing: border-box;
      overflow-x: hidden;
    }

    .el-footer {
      height: var(--h-footer);
      line-height: var(--h-footer);
      font-size: 10px;
      color: var(--c-text-secondary);
      text-align: center;
      padding: 0 20px;
    }
  }
}

.app-wrapper.app-vertical {
  .el-aside {
    width: var(--w-aside);
    background-color: var(--c-bg-aside);
    position: relative;
    transition: width .28s;
    border-right: var(--style-border);

    &.aside-collapsed {
      width: var(--w-aside-collapsed);
    }
  }
}
