@mixin truncated {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.el-scrollbar {
  height: 100%;
  width: calc(100% - 5px);
}

.el-scrollbar.has-header {
  height: 100%;
  width: 100%;
}

.el-scrollbar.has-logo.has-version {
  height: calc(100% - var(--h-logo) - var(--h-version)) !important;
}

.el-scrollbar.has-logo {
  height: calc(100% - var(--h-logo)) !important;
}

.el-scrollbar.has-version {
  height: calc(100% - var(--h-version)) !important;
}

:deep(.app-menu) {
  border-right: 0;
  background-color: var(--c-empty);
  width: 100%;

  .el-menu-item {
    color: var(--c-text-secondary);
    
    .is-truncated {
      @include truncated;
    }

    &:hover {
      background-color: var(--c-empty);
    }
  }

  .el-menu-item.is-active {
    background-color: var(--c-empty);
    color: var(--c-primary);
  }

  .el-sub-menu {
    
    .el-sub-menu__title {
      color: var(--c-text-secondary);
      .is-truncated {
        @include truncated;
      }

      &:hover {
        background-color: var(--c-empty);
      }
    }
    .el-menu {
      background-color: var(--c-empty);

      .el-menu-item, .el-sub-menu__title {
        text-indent: 9px;

        .is-truncated {
          @include truncated;
        }
      }
    }
  }

  &.app-menu__collapsed {
    padding: 0;

    .el-sub-menu.is-active {
      // background-color: var(--c-bg-mute);
      .el-icon {
        color: var(--c-primary);
      }
    }
  }
}
