/* nprogress样式 */
#nprogress .bar {
  background: var(--c-primary) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--c-primary) !important;
  border-left-color: var(--c-primary) !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px var(--c-primary),
    0 0 5px var(--c-primary) !important;
}
